{% extends 'base.twig' %}
{% block title %}
    <title>{{ title }} | Clientes</title>
{% endblock %}
{% block content %}
<div class="wrapper">
  {% include 'navbar.twig' %}
  {% include 'sidebar.twig' %}
  <div class="content-wrapper">
    <section class="content-header">
          <h1>
            Perfil
            <small>del cliente</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="{{ urlFor('dashboard') }}"><i class="fa fa-dashboard"></i> Force <b>CRM</b></a></li>
            <li><a href="{{ urlFor('customers') }}">Clientes</a></li>
            <li class="active">Perfil</li>
          </ol>
        </section>
        {% if flash.success is not empty %}
          <div class="col-md-offset-8 col-md-4">
            <div class="box-body">
              <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="icon fa fa-check"></i>Exito!</h4>
                {{ flash.success }}
              </div>
            </div>
          </div>
        {% endif %}
         <!-- Main content -->
    <section class="content">
      <!-- Info boxes -->
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="text-center">{{ customer.name }} <br> <small>{{ customer.last_name }}</small> </h3>
              <hr>
              <h4 class="text-center">Cliente: <i> {{ customer.status }} {{ customer.type_customer }} </i></h4>
            </div><!-- /.box-header -->
            <div class="box-body">
              <div class="row with-border">
                <div class="col-md-12">
                  <dl class="dl-horizontal">
                    <dt>Email: </dt><dd><a class="tip mail" data-email="{{ customer.email }}" href="mailto:{{ customer.email }}" title="{{ customer.email }}">{{ customer.email }}</a></dd>
                    <dt>Telefono: </dt><dd>{{ customer.telephone }}</dd>
                    <hr>
                    <dt>Domicilio: </dt><dd>Calle {{ customer.street }} #{{ customer.number }}</dd>
                    <dt>Localidad: </dt><dd>{{ customer.place }}</dd>
                    <dt>Código postal: </dt><dd>{{ customer.postcode }}</dd>
                    <dt>Municipio: </dt><dd>{{ customer.city }}</dd>
                    <dt>Estado: </dt><dd>{{ customer.entity }}</dd>
                    <hr>
                    <dt>Género: </dt><dd>{% if customer.gender == "H" %}Hombre{% else %}Mujer{% endif %}</dd>
                    <dt>Fecha de nacimiento: </dt><dd>{{ customer.birthdate|date('d') }} - {{ customer.birthdate|date('m') }} - {{ customer.birthdate|date('Y') }} {% if customer.birthdate|date('d') == "now"|date("d") and customer.birthdate|date('m') == "now"|date("m") %}  <i class="fa fa-birthday-cake" data-toggle="tooltip" title="Hoy cumpleaños"></i> {% endif %}</dd>
                    <dt>Ocupación: </dt><dd>{{ job.name }}</dd>
                    <dt>Educación: </dt><dd>{{ school.name }}</dd>
                    <dt>Estado civil: </dt><dd>{{ status_civil.name }}</dd>
                    <dt>Número de hijos: </dt><dd>{{ customer.sons }}</dd>
                    <dt>Clase social: </dt><dd>{{ customer.status_social }}</dd>
                  </dl>
                </div>
              </div>
              <div class="box-footer">
              <div class="pull-right">
                <a href="{{ urlFor('edit-customer') }}/{{ customer.id }}" class="btn btn-primary"><i class="fa fa-edit"></i> Actualizar información</a>
              </div>
              <br>
              </div>
            </div><!-- /. box -->
          </div><!-- /.col -->
        </div><!-- /.row -->
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-4">
            <div class="box box-warning direct-chat direct-chat-warning">
              <div class="box-header with-border">
                <h3 class="box-title"> <i class="fa fa-inbox"></i> Emails </h3>
                 <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div>
              </div>
              <div class="box-body">
                <div class="direct-chat-messages">
                  <ul>
                    <li>Uno</li>
                    <li>Uno</li>
                    <li>Uno</li>
                    <li>Uno</li>
                    <li>Uno</li>
                    <li>Uno</li>
                    <li>Uno</li>
                    <li>Uno</li>
                    <li>Uno</li>
                    <li>Uno</li>
                    <li>Uno</li>
                    <li>Uno</li>
                    <li>Uno</li>
                    <li>Uno</li>
                    <li>Uno</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box box-warning direct-chat direct-chat-warning">
              <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-bullhorn"></i> Campañas </h3>
                <div class="box-tools pull-right">
                  <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
              </div>
              <div class="box-body">
                <div class="direct-chat-messages">
                  <ul>
                    <li>Uno</li>
                    <li>Uno</li>
                    <li>Uno</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box box-warning direct-chat direct-chat-warning">
              <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-shopping-cart"></i> Ventas </h3>
                <div class="box-tools pull-right">
                  <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
              </div>
              <div class="box-body">
                <div class="direct-chat-messages">
                  <ul>
                    <li>Uno</li>
                    <li>Uno</li>
                    <li>Uno</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- /.content -->
  </div><!-- /.content-wrapper -->
  <footer class="main-footer">
    <strong>Copyright &copy; {{ "now"|date("Y") }} </strong> Todos los derechos reservados.
  </footer>
</div>
{% endblock %}
{% block js %}
  <script src="{{ urlFor('root')}}public/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
  <script src="{{ urlFor('root')}}public/plugins/input-mask/jquery.inputmask.js" type="text/javascript"></script>
  <script src="{{ urlFor('root')}}public/plugins/input-mask/jquery.inputmask.date.extensions.js" type="text/javascript"></script>
  <script src="{{ urlFor('root')}}public/plugins/input-mask/jquery.inputmask.extensions.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(function () {
        $("#datemask").inputmask("dd-mm-yyyy", {"placeholder": "dd-mm-yyyy"});
        $("[data-mask]").inputmask();
        //Date range picker
        $('#reservation').daterangepicker();
        //Date range picker with time picker
        $('#reservationtime').daterangepicker({timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A'});

        $('#postcode').change(function(event){
        var sn = $("#postcode option:selected");
        $('#place').html('');
          $.getJSON("{{ urlFor('root') }}postcode.json/"+sn.val(), function(postcode){
            var myArray = postcode.place.split(";");
            for(var i=0;i<myArray.length;i++){
                $('#place').append("<option value=\""+myArray[i]+"\">"+myArray[i]+"</option>");
            }
            $('input#city').val(postcode.city);
            $('input#entity').val(postcode.entity);
          });
      });
    });
      </script>
    <script src="{{ urlFor('root') }}public/css/dist/js/demo.js"></script>
{% endblock %}
