{% extends 'base.twig' %}
{% block title %}
    <title>{{ title }} | Emails</title>
{% endblock %}
{% block css %}
  <link href="{{ urlFor('root') }}public/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" >
  <link href="{{ urlFor('root') }}public/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet"/>
{% endblock %}
{% block content %}
<div class="wrapper">
  {% include 'navbar.twig' %}
  {% include 'sidebar.twig' %}
 <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1> <a href="{{ urlFor('email') }}"><i class="fa fa-arrow-left fa-1x"></i></a>
      Email <small>nuevo</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="{{ urlFor('dashboard') }}"><i class="fa fa-dashboard"></i> Force <b>CRM</b></a></li>
      <li><a href="{{ urlFor('email') }}">Emails</a></li>
      <li class="active">Redactar</li>
    </ol>
  </section>
  <!-- Main content -->
  {% if flash.success is not empty %}
          <div class="col-md-offset-8 col-md-4">
            <div class="box-body">
              <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="icon fa fa-check"></i>Exito!</h4>
                {{ flash.success }}
              </div>
            </div>
          </div>
        {% endif %}
  <section class="content">
    <div class="row">
       <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Redactar nuevo email</h3>
          </div><!-- /.box-header -->
          <form id="emailForm" name="emailForm">
          <div class="box-body">
          {% if email.id is defined %}
            <input type="hidden" id="id" name="id" value="{{ email.id }}">
          {% else %}
            <input type="hidden" id="id" name="id" value="">
          {% endif %}
          <div class="row">
            <div class="form-group col-md-12">
              {% if email.campaing_id is defined %}
                <label class="control-label">Campaña :</label>
               {% else %}
                <label class="control-label" title="Campo obligatorio">Campaña * :</label>
               {% endif %}
              <div class="input-group form-group">
                <span class="input-group-addon"><i class="fa fa-bullhorn"></i></span>
                <select name="campaing_id" id="campaing_id" class="form-control" required >
                  {% if email.campaing_id is defined %}
                    <option value="{{ email.campaing_id }}">
                      {{ campaing.name }}
                    </option>
                  {% else %}
                      <option value="0">Seleciona campaña...</option>
                  {% endif %}
                  {% for c in campaings %}
                    <option value="{{ c.id }}">{{ c.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 form-group">
              {% if email.date_send is defined %}
                <label class="control-label">Fecha y hora de envio :</label>
              {% else %}
                <label class="control-label" title="Campo obligatorio">Fecha y hora de envio * :</label>
              {% endif %}
              <!--<div class="input-group">-->
                {% if email.date_send is defined %}
                  <input type="text" name="date_send" id="date_send" class="form-control" value="{{ email.date_send }}">
                {% else %}
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input class="form-control pull-right" id="date" name="date" placeholder="Fecha:">
                      </div>
                    </div>
                    <div class="col-md-6 form-group">
                      <div class="bootstrap-timepicker">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-clock-o"></i></span><input class="form-control timepicker" id="hour" name="hour" placeholder="Hora:">
                        </div>
                      </div>
                    </div>
                  </div>
                {% endif %}
                <!--</div>-->
              </div>
            </div>
             <div class="row">
                <div class="col-md-12 form-group">
                  {% if email.subject is defined %}
                    <label class="control-label">Asunto :</label>
                  {% else %}
                    <label class="control-label" title="Campo obligatorio">Asunto * :</label>
                  {% endif %}
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-bookmark"></i></span>
                    {% if email.subject is defined %}
                      <input type="text" name="subject" id="subject" class="form-control" value="{{ email.subject }}">
                    {% else %}
                      <input type="text" name="subject" id="subject" class="form-control" placeholder="Asunto" required autocomplete="off">
                    {% endif %}
                  </div>
                </div>
              </div>
            <div class="form-group">
              {% if email.content is defined %}
                <textarea id="compose-textarea" id="content" name="content" class="form-control" style="height: 300px" placeholder="Escribir email...">
                  {{ email.subject }}
              </textarea>
              {% else %}
                <textarea id="compose-textarea" id="content" name="content" class="form-control" style="height: 300px" placeholder="Escribir email...">

              </textarea>
              {% endif %}
            </div>
          </div><!-- /.box-body -->
          <div class="box-footer">
            <div class="pull-right">
              <a href="{{ urlFor('email') }}" class="btn btn-default"><i class="fa fa-times"></i> Cancelar</a>
              {% if email.id is defined %}
                <button type="button" id="editEmail" name="editEmail" class="btn btn-primary"><i class="fa fa-edit"></i> Actualizar</button>
              {% else %}
                <button type="button" id="newEmail" name="newEmail" class="btn btn-primary"><i class="fa fa-archive"></i> Archivar</button>
              {% endif %}
              </form>
            </div>
            <br><br>
          </div><!-- /.box-footer -->
        </div><!-- /. box -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </section><!-- /.content -->
</div><!-- ./wrapper -->
<footer class="main-footer">
  <strong>Copyright &copy; {{ "now"|date("Y") }} </strong> Todos los derechos reservados.
</footer>
{% endblock %}
{% block js %}
  <script src="{{ urlFor('root') }}public/css/dist/js/demo.js"></script>
  <script src="{{ urlFor('root') }}public/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js" type="text/javascript"></script>
  <script src="{{ urlFor('root')}}public/plugins/daterangepicker/datepicker.js" type="text/javascript"></script>
  <script src="{{ urlFor('root')}}public/plugins/timepicker/bootstrap-timepicker.min.js" type="text/javascript"></script>
  <script>
    $(function () {
      //Add text editor
      $("#compose-textarea").wysihtml5();

      $('#date').daterangepicker();

      $("#hour").timepicker({
          showInputs: false
        });
    });
    $(document).ready(function() {
      $('#newEmail').click(function(event) {
        var id = $('#id').val();
        var campaing_id = $('#campaing_id option:selected').val();
        var date = $('#date').val();
        var hour = $('#hour').val();
        var subject = $('#subject').val();
        var content = $('#content').val();
        if (campaing_id == 0 || date == "" || subject == "" || content == "") {
          $.growl.error({ message: "Rellene todos los campos obligatorios!" });
        } else {
          $.ajax({
            url: "nuevo",
            type: "POST",
            dataType: "html",
            data: $('#emailForm').serialize(),
            success: function(data) {
              if(data == 'vacio'){
                $.growl.error({ message: "Rellene todos los campos obligatorios!" });
              } else if(data == 'exito') {
                $.growl.notice({ message: "Has creado una nuevo email!" });
                limpiar();
              } else if(data == 'error') {
                $.growl.error({ message: "Error del servidor!" });
              }
            }
          });
        }
      });

      function limpiar(){
        var date = $('#date').val("");
        var subject = $('#subject').val("");
        var content = $('#content').empty();
        var campaing_id = $('#campaing_id').val($('#campaing_id > option:first').val());
      }
    });
  </script>
  <script src="{{ urlFor('root') }}public/css/dist/js/demo.js"></script>
{% endblock %}
