{% extends 'base.twig' %}
{% block title %}
    <title>{{ title }} | Inicio</title>
{% endblock %}
{% block content %}
  <body class="login-page">
    <div class="login-box">
      <div class="login-logo">
        <a href="{{ urlFor('root') }}">Force <b>CRM</b></a>
        <!--<img src="{{ urlFor('root') }}crm.jpg" alt="" class="responsive" width="50%">-->
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Iniciar sesi칩n</p>
        <form  id="login" name="login">
          <div class="input-group form-group has-feedback">
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span><input type="text" name="email" id="email" class="form-control" placeholder="Correo electr칩nico">
          </div>
          <div class="input-group form-group has-feedback">
            <span class="input-group-addon"><i class="fa fa-asterisk"></i></span><input type="password" name="password" id="password" class="form-control" placeholder="Contrase침a">
          </div>
           <div class="input-group form-group has-feedback">
            <span class="input-group-addon"><i class="fa fa-briefcase"></i></span>
            <select name="rol" id="rol" class="form-control">
              {% for rol in rols %}
                <option value="{{ rol.id }}">{{ rol.name }}</option>
              {% endfor %}
            </select>
          </div>
          <input type="hidden" name="api" id="api" value="0">
          <div class="row">
            <div class="col-xs-4">
            </div><!-- /.col -->
            <div class="col-xs-4">
              <button type="button" id="btnEntrar" name="btnEntrar" class="btn btn-primary btn-block btn-flat">Entrar</button>
            </div><!-- /.col -->
          </div>
        </form>
        <br>
      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->

{% endblock %}
{% block js %}
  <script src="{{ urlFor('root') }}public/plugins/iCheck/icheck.min.js" type="text/javascript"></script>
  <script>
    $(document).ready(function() {
      $('#btnEntrar').click(function(event) {
        var email = $('#email').val();
        var password = $('#password').val();
        var rol = $('#rol option:selected').text();
        if ((email == "" && password == "") || (email == "" || password == "")) {
          $.growl.error({ message: "Rellene todos los campos!" });
        } else {
          $.ajax({
            url: "login",
            type: "POST",
            dataType: "html",
            data: $('#login').serialize(),
            success: function(data) {
              if(data == 'vacio'){
                $.growl.error({ message: "Rellene todos los campos!" });
              } else if(data == 'password') {
                $.growl.error({ message: "Contrase침a incorrecta!" });
              } else if(data == 'user') {
                $.growl.error({ message: "Miembro no registrado!" });
              } else if(data == 'rol') {
                $.growl.error({ message: "Usted no es "+rol+"!"});
              } else if(data == 'ok'){
                location.reload();
              }
            }
          })
        }
      });


    $(this).bind("contextmenu", function(e) {
      e.preventDefault();
    });

    });

  </script>
{% endblock %}
