{% extends 'base.twig' %}
{% block title %}
    <title>{{ title }} | Inicio</title>
{% endblock %}
{% block content %}
<div class="wrapper">
  {% include 'navbar.twig' %}
  {% include 'sidebar.twig' %}
  <!-- Content Wrapper. Contains page content -->

  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Panel de administración
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Force <b>CRM</b></a></li>
        <li class="active">Panel de administración</li>
      </ol>
    </section>
    <div id="check"></div>
    <!-- Main content -->
    <section class="content">
      <!-- Info boxes -->
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-bullhorn"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Campañas</span>
              <span class="info-box-number">
                 {% if count_cam == 0 %}
                  0
                {% else %}
                  {{ count_cam }}
                {% endif %}
              </span>
            </div><!-- /.info-box-content -->
          </div><!-- /.info-box -->
        </div><!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-blue"><i class="fa fa-star-o"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Clientes</span>
              <span class="info-box-number">
                {% if count_cus == 0 %}
                  0
                {% else %}
                  {{ count_cus }}
                {% endif %}
              </span>
            </div><!-- /.info-box-content -->
          </div><!-- /.info-box -->
        </div><!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-shopping-cart"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Ventas</span>
              <span class="info-box-number">0</span>
            </div><!-- /.info-box-content -->
          </div><!-- /.info-box -->
        </div><!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="fa fa-users"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Contactos</span>
              <span class="info-box-number">
                {% if count_con == 0 %}
                  0
                {% else %}
                  {{ count_con }}
                {% endif %}
              </span>
            </div><!-- /.info-box-content -->
          </div><!-- /.info-box -->
        </div><!-- /.col -->
      </div><!-- /.row -->

      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Informe mensual</h3>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>

                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div><!-- /.box-header -->
            <div class="box-body">
              <div class="row">
                <div class="col-md-8">
                  <p class="text-center">
                    <strong>Ventas: 1 Ene, 2015 - 30 Jul, 2015</strong>
                  </p>
                  <div class="chart-responsive">
                    <!-- Sales Chart Canvas -->
                    <canvas id="salesChart" height="180"></canvas>
                  </div><!-- /.chart-responsive -->
                </div><!-- /.col -->
                <div class="col-md-4">
                  <p class="text-center">
                    <strong>Objetivo finalizado</strong>
                  </p>
                  <div class="progress-group">
                    <span class="progress-text">Productos añadidos</span>
                    <span class="progress-number"><b>160</b>/200</span>
                    <div class="progress sm">
                      <div class="progress-bar progress-bar-aqua" style="width: 80%"></div>
                    </div>
                  </div><!-- /.progress-group -->
                  <div class="progress-group">
                    <span class="progress-text">Ventas completas</span>
                    <span class="progress-number"><b>310</b>/400</span>
                    <div class="progress sm">
                      <div class="progress-bar progress-bar-red" style="width: 80%"></div>
                    </div>
                  </div><!-- /.progress-group -->
                  <div class="progress-group">
                    <span class="progress-text">Visitas a sitio web</span>
                    <span class="progress-number"><b>480</b>/800</span>
                    <div class="progress sm">
                      <div class="progress-bar progress-bar-green" style="width: 80%"></div>
                    </div>
                  </div><!-- /.progress-group -->
                  <div class="progress-group">
                    <span class="progress-text">Emails enviados</span>
                    <span class="progress-number"><b>250</b>/500</span>
                    <div class="progress sm">
                      <div class="progress-bar progress-bar-yellow" style="width: 80%"></div>
                    </div>
                  </div><!-- /.progress-group -->
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div><!-- ./box-body -->
          </div><!-- /.box -->
        </div><!-- /.col -->
      </div><!-- /.row -->



      <!-- Main row -->
      <div class="row">
        <div class="col-md-4">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">Hombres / Mujeres</h3>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div><!-- /.box-header -->
            <div class="box-body">
              <div class="row">
                <div class="col-md-8">
                  <div class="chart-responsive">
                    <canvas id="pieChart" height="150"></canvas>
                  </div><!-- ./chart-responsive -->
                </div><!-- /.col -->
                <div class="col-md-4">
                  <ul class="chart-legend clearfix">
                    <li><i class="fa fa-circle-o text-blue"></i> Hombres</li>
                    <li><i class="fa fa-circle-o text-pink"></i> Mujeres</li>
                  </ul>
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div><!-- /.box-body -->
            {% for c in customers %}
              {{ "now"|date('Y-m-d') - c.birthday }}
            {% endfor %}
            <div class="box-footer no-padding">
              <ul class="nav nav-pills nav-stacked">
                <li><a href="#">Niños <span class="pull-right text-red"></i>  </span></a></li>
                <li><a href="#">Jovenés <span class="pull-right text-green">  </span></a></li>
                <li><a href="#">Adultos <span class="pull-right text-yellow">  </span></a></li>
                <li><a href="#">Ancianos <span class="pull-right text-yellow">  </span></a></li>
              </ul>
            </div><!-- /.footer -->
          </div><!-- /.box -->
        </div><!-- /.col -->

         <div class="col-md-4">
          <!-- PRODUCT LIST -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Productos recientes</h3>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div><!-- /.box-header -->
            <div class="box-body">
              <ul class="products-list product-list-in-box">
                <li class="item">
                  <div class="product-img">
                    <img src="" alt="Product Image"/>
                  </div>
                  <div class="product-info">
                    <a href="javascript::;" class="product-title">Samsung TV <span class="label label-warning pull-right">$1800</span></a>
                    <span class="product-description">
                      Samsung 32" 1080p 60Hz LED Smart HDTV.
                    </span>
                  </div>
                </li><!-- /.item -->
                <li class="item">
                  <div class="product-img">
                    <img src="" alt="Product Image"/>
                  </div>
                  <div class="product-info">
                    <a href="javascript::;" class="product-title">Bicycle <span class="label label-info pull-right">$700</span></a>
                    <span class="product-description">
                      26" Mongoose Dolomite Men's 7-speed, Navy Blue.
                    </span>
                  </div>
                </li><!-- /.item -->
                <li class="item">
                  <div class="product-img">
                    <img src="" alt="Product Image"/>
                  </div>
                  <div class="product-info">
                    <a href="javascript::;" class="product-title">Xbox One <span class="label label-danger pull-right">$350</span></a>
                    <span class="product-description">
                      Xbox One Console Bundle with Halo Master Chief Collection.
                    </span>
                  </div>
                </li><!-- /.item -->
                <li class="item">
                  <div class="product-img">
                    <img src="" alt="Product Image"/>
                  </div>
                  <div class="product-info">
                    <a href="javascript::;" class="product-title">PlayStation 4 <span class="label label-success pull-right">$399</span></a>
                    <span class="product-description">
                      PlayStation 4 500GB Console (PS4)
                    </span>
                  </div>
                </li><!-- /.item -->
              </ul>
            </div><!-- /.box-body -->
            <div class="box-footer text-center">
              <a href="javascript::;" class="uppercase">View All Products</a>
            </div><!-- /.box-footer -->
          </div><!-- /.box -->
        </div><!-- /.col -->

        <div class="col-md-4">
          <!-- Info Boxes Style 2 -->
          <div class="info-box bg-aqua">
            <span class="info-box-icon"><i class="fa fa-star"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Clientes A</span>
              <span class="info-box-number">
                {% if customerA == 0 %}
                  0
                {% else %}
                  {{ customerA }}
                {% endif %}
              </span>
              <div class="progress">
                <div class="progress-bar" style="width: 20%"></div>
              </div>
              <span class="progress-description">

              </span>
            </div><!-- /.info-box-content -->
          </div><!-- /.info-box -->
          <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fa fa-star-half-o"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Clientes B</span>
              <span class="info-box-number">
                {% if customerB == 0 %}
                  0
                {% else %}
                  {{ customerB }}
                {% endif %}
              </span>
              <div class="progress">
                <div class="progress-bar" style="width: 70%"></div>
              </div>
              <span class="progress-description">

              </span>
            </div><!-- /.info-box-content -->
          </div><!-- /.info-box -->
          <div class="info-box bg-red">
            <span class="info-box-icon"><i class="fa fa-star-o"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Clientes C</span>
              <span class="info-box-number">
                {% if customerC == 0 %}
                  0
                {% else %}
                  {{ customerC }}
                {% endif %}
              </span>
              <div class="progress">
                <div class="progress-bar" style="width: 40%"></div>
              </div>
              <span class="progress-description">

              </span>
            </div><!-- /.info-box-content -->
          </div><!-- /.info-box -->
          <div class="info-box bg-orange">
            <span class="info-box-icon"><i class="fa fa-diamond"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Clientes Potenciales</span>
              <span class="info-box-number">
                 {% if customerP == 0 %}
                  0
                {% else %}
                  {{ customerP }}
                {% endif %}
              </span>
              <div class="progress">
                <div class="progress-bar" style="width: 50%"></div>
              </div>
              <span class="progress-description">

              </span>
            </div><!-- /.info-box-content -->
          </div><!-- /.info-box -->
        </div><!-- /.col -->
      </div><!-- /.row -->

      <div class="row">
        <div class="col-md-12">
          <!-- TABLE: LATEST ORDERS -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Latest Orders</h3>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div><!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                    <tr>
                      <th>Order ID</th>
                      <th>Item</th>
                      <th>Status</th>
                      <th>Popularity</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><a href="pages/examples/invoice.html">OR9842</a></td>
                      <td>Call of Duty IV</td>
                      <td><span class="label label-success">Shipped</span></td>
                      <td><div class="sparkbar" data-color="#00a65a" data-height="20">90,80,90,-70,61,-83,63</div></td>
                    </tr>
                    <tr>
                      <td><a href="pages/examples/invoice.html">OR1848</a></td>
                      <td>Samsung Smart TV</td>
                      <td><span class="label label-warning">Pending</span></td>
                      <td><div class="sparkbar" data-color="#f39c12" data-height="20">90,80,-90,70,61,-83,68</div></td>
                    </tr>
                    <tr>
                      <td><a href="pages/examples/invoice.html">OR7429</a></td>
                      <td>iPhone 6 Plus</td>
                      <td><span class="label label-danger">Delivered</span></td>
                      <td><div class="sparkbar" data-color="#f56954" data-height="20">90,-80,90,70,-61,83,63</div></td>
                    </tr>
                    <tr>
                      <td><a href="pages/examples/invoice.html">OR7429</a></td>
                      <td>Samsung Smart TV</td>
                      <td><span class="label label-info">Processing</span></td>
                      <td><div class="sparkbar" data-color="#00c0ef" data-height="20">90,80,-90,70,-61,83,63</div></td>
                    </tr>
                    <tr>
                      <td><a href="pages/examples/invoice.html">OR1848</a></td>
                      <td>Samsung Smart TV</td>
                      <td><span class="label label-warning">Pending</span></td>
                      <td><div class="sparkbar" data-color="#f39c12" data-height="20">90,80,-90,70,61,-83,68</div></td>
                    </tr>
                    <tr>
                      <td><a href="pages/examples/invoice.html">OR7429</a></td>
                      <td>iPhone 6 Plus</td>
                      <td><span class="label label-danger">Delivered</span></td>
                      <td><div class="sparkbar" data-color="#f56954" data-height="20">90,-80,90,70,-61,83,63</div></td>
                    </tr>
                    <tr>
                      <td><a href="pages/examples/invoice.html">OR9842</a></td>
                      <td>Call of Duty IV</td>
                      <td><span class="label label-success">Shipped</span></td>
                      <td><div class="sparkbar" data-color="#00a65a" data-height="20">90,80,90,-70,61,-83,63</div></td>
                    </tr>
                  </tbody>
                </table>
              </div><!-- /.table-responsive -->
            </div><!-- /.box-body -->
            <div class="box-footer clearfix">
              <a href="javascript::;" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a>
              <a href="javascript::;" class="btn btn-sm btn-default btn-flat pull-right">View All Orders</a>
            </div><!-- /.box-footer -->
          </div><!-- /.box -->
        </div><!-- /.col -->
      </div><!-- /.row -->
    </section><!-- /.content -->
  </div><!-- /.content-wrapper -->

  <footer class="main-footer">
    <strong>Copyright &copy; {{ "now"|date("Y") }} </strong> Todos los derechos reservados.
  </footer>
</div><!-- ./wrapper -->
{% endblock %}
{% block js %}
    <script type="text/javascript">
      var men = {{ men|escape('js') }};
      var women = {{ women|escape('js') }};
    </script>
    <script src="{{ urlFor('root') }}public/plugins/chartjs/Chart.min.js"></script>
    <script src="{{ urlFor('root') }}public/css/dist/js/demo.js"></script>
    <script src="{{ urlFor('root') }}public/css/dist/js/pages/dashboard2.js"></script>
    <script src="{{ urlFor('root') }}public/js/functions.js"></script>
{% endblock %}
