{% extends 'base.twig' %}
{% block title %}
    <title>{{ title }} | Inicio</title>
{% endblock %}
{% block content %}
<div class="wrapper">
  {% include 'navbar.twig' %}
  {% include 'sidebar.twig' %}
  <!-- Content Wrapper. Contains page content -->

  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Panel de administración
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Force <b>CRM</b></a></li>
        <li class="active">Panel de administración</li>
      </ol>
    </section>
    <div id="check"></div>
    <!-- Main content -->
    <section class="content">
      <!-- Info boxes -->
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-bullhorn"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Campañas</span>
              <span class="info-box-number">
                 {% if count_cam == 0 %}
                  0
                {% else %}
                  {{ count_cam }}
                {% endif %}
              </span>
            </div><!-- /.info-box-content -->
          </div><!-- /.info-box -->
        </div><!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-blue"><i class="fa fa-star-o"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Clientes</span>
              <span class="info-box-number">
                {% if count_cus == 0 %}
                  0
                {% else %}
                  {{ count_cus }}
                {% endif %}
              </span>
            </div><!-- /.info-box-content -->
          </div><!-- /.info-box -->
        </div><!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-shopping-cart"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Ventas</span>
              <span class="info-box-number">1</span>
            </div><!-- /.info-box-content -->
          </div><!-- /.info-box -->
        </div><!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="fa fa-users"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Contactos</span>
              <span class="info-box-number">
                {% if count_con == 0 %}
                  0
                {% else %}
                  {{ count_con }}
                {% endif %}
              </span>
            </div><!-- /.info-box-content -->
          </div><!-- /.info-box -->
        </div><!-- /.col -->
      </div><!-- /.row -->

      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Informe mensual</h3>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>

                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div><!-- /.box-header -->
            <div class="box-body">
              <div class="row">
                <div class="col-md-8">
                  <p class="text-center">
                    <strong>Ventas: 1 Ene, 2015 - 30 Jul, 2015</strong>
                  </p>
                  <div class="chart-responsive">
                    <!-- Sales Chart Canvas -->
                    <canvas id="salesChart" height="180"></canvas>
                  </div><!-- /.chart-responsive -->
                </div><!-- /.col -->
                <div class="col-md-4">
                  <p class="text-center">
                    <strong>Objetivo finalizado</strong>
                  </p>
                  <div class="progress-group">
                    <span class="progress-text">Productos añadidos</span>
                    <span class="progress-number"><b>1</b>/1</span>
                    <div class="progress sm">
                      <div class="progress-bar progress-bar-aqua" style="width: 100%"></div>
                    </div>
                  </div><!-- /.progress-group -->
                  <div class="progress-group">
                    <span class="progress-text">Ventas completas</span>
                    <span class="progress-number"><b>1</b>/1</span>
                    <div class="progress sm">
                      <div class="progress-bar progress-bar-red" style="width: 100%"></div>
                    </div>
                  </div><!-- /.progress-group -->
                  <div class="progress-group">
                    <span class="progress-text">Campañas finalizadas</span>
                    <span class="progress-number"><b>3</b>/6</span>
                    <div class="progress sm">
                      <div class="progress-bar progress-bar-green" style="width: 50%"></div>
                    </div>
                  </div><!-- /.progress-group -->
                  <div class="progress-group">
                    <span class="progress-text">Emails enviados</span>
                    <span class="progress-number"><b>0</b>/2</span>
                    <div class="progress sm">
                      <div class="progress-bar progress-bar-yellow" style="width: 0%"></div>
                    </div>
                  </div><!-- /.progress-group -->
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div><!-- ./box-body -->
          </div><!-- /.box -->
        </div><!-- /.col -->
      </div><!-- /.row -->



      <!-- Main row -->
      <div class="row">
        <div class="col-md-4">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">Hombres / Mujeres</h3>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div><!-- /.box-header -->
            <div class="box-body">
              <div class="row">
                <div class="col-md-8">
                  <div class="chart-responsive">
                    <canvas id="pieChart" height="150"></canvas>
                  </div><!-- ./chart-responsive -->
                </div><!-- /.col -->
                <div class="col-md-4">
                  <ul class="chart-legend clearfix">
                    <li><i class="fa fa-circle-o text-blue"></i> Hombres</li>
                    <li><i class="fa fa-circle-o text-pink"></i> Mujeres</li>
                  </ul>
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div><!-- /.box-body -->
            <div class="box-footer no-padding">
              <ul class="nav nav-pills nav-stacked">
                <li><a href="javascript::;">Niños <span class="pull-right text-red"></i> 0% </span></a></li>
                <li><a href="javascript::;">Jovenés <span class="pull-right text-green"> 0% </span></a></li>
                <li><a href="javascript::;">Adultos <span class="pull-right text-yellow"> 100% </span></a></li>
                <li><a href="javascript::;">Ancianos <span class="pull-right text-yellow"> 0% </span></a></li>
              </ul>
            </div><!-- /.footer -->
          </div><!-- /.box -->
        </div><!-- /.col -->

         <div class="col-md-4">
          <!-- PRODUCT LIST -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Productos recientes</h3>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div><!-- /.box-header -->
            <div class="box-body">
              <ul class="products-list product-list-in-box">
                {% for p in productsASC %}
                  <li class="item">
                    <div class="product-img">
                      <img src="{{ urlFor('root') }}public/img/polo.jpg" alt="{{ p.name }}"/>
                    </div>
                    <div class="product-info">
                      <a href="javascript::;" class="product-title">{{ p.name }}<span class="label label-primary pull-right">${{ p.price }}</span></a>
                      <span class="product-description">
                        {{ p.description }}.
                      </span>
                    </div>
                  </li><!-- /.item -->
                {% endfor %}
              </ul>
            </div><!-- /.box-body -->
            <div class="box-footer text-center">
              <a href="{{ urlFor('products') }}" class="uppercase">Ver todos los productos</a>
            </div><!-- /.box-footer -->
          </div><!-- /.box -->
        </div><!-- /.col -->

        <div class="col-md-4">
          <!-- Info Boxes Style 2 -->
          <div class="info-box bg-aqua">
            <span class="info-box-icon"><i class="fa fa-star"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Clientes A</span>
              <span class="info-box-number">
                {% if customerA == 0 %}
                  0
                {% else %}
                  {{ customerA }}
                {% endif %}
              </span>
              <div class="progress">
                <div class="progress-bar" style="width: {{ customerA }}%"></div>
              </div>
              <span class="progress-description">

              </span>
            </div><!-- /.info-box-content -->
          </div><!-- /.info-box -->
          <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fa fa-star-half-o"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Clientes B</span>
              <span class="info-box-number">
                {% if customerB == 0 %}
                  0
                {% else %}
                  {{ customerB }}
                {% endif %}
              </span>
              <div class="progress">
                <div class="progress-bar" style="width: {{ customerB }}%"></div>
              </div>
              <span class="progress-description">

              </span>
            </div><!-- /.info-box-content -->
          </div><!-- /.info-box -->
          <div class="info-box bg-red">
            <span class="info-box-icon"><i class="fa fa-star-o"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Clientes C</span>
              <span class="info-box-number">
                {% if customerC == 0 %}
                  0
                {% else %}
                  {{ customerC }}
                {% endif %}
              </span>
              <div class="progress">
                <div class="progress-bar" style="width: {{ customerC }}%"></div>
              </div>
              <span class="progress-description">

              </span>
            </div><!-- /.info-box-content -->
          </div><!-- /.info-box -->
          <div class="info-box bg-orange">
            <span class="info-box-icon"><i class="fa fa-diamond"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Clientes Potenciales</span>
              <span class="info-box-number">
                 {% if customerP == 0 %}
                  0
                {% else %}
                  {{ customerP }}
                {% endif %}
              </span>
              <div class="progress">
                <div class="progress-bar" style="width: {{ customerP }}%"></div>
              </div>
              <span class="progress-description">

              </span>
            </div><!-- /.info-box-content -->
          </div><!-- /.info-box -->
        </div><!-- /.col -->
      </div><!-- /.row -->

      <div class="row">
        <div class="col-md-12">
          <!-- TABLE: LATEST ORDERS -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Las últimas ventas</h3>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div><!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Producto</th>
                      <th>Categoria</th>
                      <th>Cliente</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><a href="pages/examples/invoice.html">OR9842</a></td>
                      <td>Camisa</td>
                      <td><span class="label label-success">Ropa</span></td>
                      <td>Alfredo</td>
                    </tr>

                  </tbody>
                </table>
              </div><!-- /.table-responsive -->
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div><!-- /.col -->
      </div><!-- /.row -->
    </section><!-- /.content -->
  </div><!-- /.content-wrapper -->

  <footer class="main-footer">
    <strong>Copyright &copy; {{ "now"|date("Y") }} </strong> Todos los derechos reservados.
  </footer>
</div><!-- ./wrapper -->
{% endblock %}
{% block js %}
    <script type="text/javascript">
      var men = {{ men|escape('js') }};
      var women = {{ women|escape('js') }};
    </script>
    <script src="{{ urlFor('root') }}public/plugins/chartjs/Chart.min.js"></script>
    <script src="{{ urlFor('root') }}public/css/dist/js/demo.js"></script>
    <script src="{{ urlFor('root') }}public/css/dist/js/pages/dashboard2.js"></script>
    <script src="{{ urlFor('root') }}public/js/functions.js"></script>
{% endblock %}
