{% extends 'base.twig' %}
{% block title %}
    <title>{{ title }} | Mercados</title>
{% endblock %}
{% block css %}
    <link href="{{ urlFor('root') }}public/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ urlFor('root') }}public/plugins/iCheck/square/blue.css">
{% endblock %}
{% block content %}
<div class="wrapper">
  {% include 'navbar.twig' %}
  {% include 'sidebar.twig' %}
  <div class="content-wrapper">
    <section class="content-header">
          <h1><a href="{{ urlFor('new-market') }}"> <i class="fa fa-arrow-left fa-1x"></i></a> Segmentación <small>del mercado</small></h1>
          <ol class="breadcrumb">
            <li><a href="{{ urlFor('dashboard') }}"><i class="fa fa-dashboard"></i> Force <b>CRM</b></a></li>
            <li class="active"><a href="{{ urlFor('new-market') }}">Mercados</a></li>
            <li class="active"><a href="#">Segmentación</a></li>
          </ol>
        </section>
         <!-- Main content -->
    <section class="content">
      <!-- Info boxes -->
      <div class="row">
        <div class="col-md-12">
        <div class="nav-tabs-custom">
          <!-- Tabs within a box -->
          <ul class="nav nav-tabs pull-right">
            <li class="active"><a href="#" id="gender" name="gender" data-toggle="tab">Sexo</a></li>
            <li><a href="#" id="school" name="school" data-toggle="tab">Educación</a></li>
            <li><a href="#" id="job" name="job" data-toggle="tab">Ocupación</a></li>
            <li><a href="#" id="status_civil" name="status_civil" data-toggle="tab">Estado Civil</a></li>
            <li><a href="#" id="age" name="age" data-toggle="tab">Edad</a></li>
            <li class="pull-left header"><i class="fa fa-groups"></i>
              {% if type == "a" %}
                <i class="fa fa-star"></i> Clientes A
              {% elseif type == "b" %}
                <i class="fa fa-star-half-o"></i> Clientes B
              {% elseif type == "c" %}
                <i class="fa fa fa-star-o"></i> Clientes C
              {% elseif type == "P" %}
                <i class="fa fa-diamond"></i> Clientes potenciales
              {% endif %}
            </li>
          </ul>
          <div class="tab-content no-padding">
            <!-- Morris chart - Sales -->
            <div class="chart tab-pane active" style="position: relative; height: 550px;">
              <br><br>
              <div class="col-md-offset-3 col-md-8">
                <div id="canvas-holder">
                  <div class="row" id="grafica1">
                    <div class="col-md-8">
                      <canvas id="chart-area" width="400" height="400"></canvas>
                      <div class="text-center">
                        <button class="btn btn-primary" id="btn_gender" name="btn_gender">Agregar nuevo mercado</button>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <ul class="chart-legend clearfix">
                        <li><i class="fa fa-circle-o text-blue"></i> Hombres</li>
                        <li><i class="fa fa-circle-o text-pink"></i> Mujeres</li>
                      </ul>
                    </div>
                  </div>
                  <div class="row" id="grafica2">
                    <div class="col-md-8">
                      <canvas id="chart-area2" width="500" height="500"></canvas>
                      <div class="text-center">
                        <button class="btn btn-primary" id="btn_school" name="btn_school">Agregar nuevo mercado</button>
                      </div>
                    </div>
                  </div>
                  <div class="row" id="grafica3">
                    <div class="col-md-8">
                      <canvas id="chart-area3" width="900" height="900"></canvas>
                      <div class="text-center">
                        <button class="btn btn-primary" id="btn_school" name="btn_school">Agregar nuevo mercado</button>
                      </div>
                    </div>
                  </div>
                  <div class="row" id="grafica4">
                    <div class="col-md-8">
                      <canvas id="chart-area4" width="400" height="400"></canvas>
                      <div class="text-center">
                        <button class="btn btn-primary" id="btn_school" name="btn_school">Agregar nuevo mercado</button>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <ul class="chart-legend clearfix">
                        <li><i class="fa fa-circle-o text-blue"></i> Soltero (a)</li>
                        <li><i class="fa fa-circle-o text-yellow"></i> Unión libre</li>
                        <li><i class="fa fa-circle-o text-pink"></i> Casado (a)</li>
                        <li><i class="fa fa-circle-o text-green"></i> Divorciado (a)</li>
                        <li><i class="fa fa-circle-o text-purple"></i> Viudo (a)</li>
                      </ul>
                    </div>
                  </div>
                  <div class="row" id="grafica5">
                    <div class="col-md-8">
                      <canvas id="chart-area5" width="400" height="400"></canvas>
                      <div class="text-center">
                        <button class="btn btn-primary" id="btn_school" name="btn_school">Agregar nuevo mercado</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- /.nav-tabs-custom -->
      </div><!-- /.row -->
    </section><!-- /.content -->
   </div>
    <footer class="main-footer">
    <strong>Copyright &copy; {{ "now"|date("Y") }} </strong> Todos los derechos reservados.
  </footer>
  </div>
  <div id="market" name="market" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="market" aria-hidden="true" class="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title text-center">Nuevo mercado</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <form action="#" id="marketForm" name="marketForm">
                  <div class="input-group form-group has-feedback">
                    <span class="input-group-addon"><i class="fa fa-group"></i></span><input type="text" name="name" id="name" class="form-control" placeholder="Nombre del mercado" required>
                  </div>
                  <div class="input-group form-group has-feedback">
                    <span class="input-group-addon"><i class="fa fa-list"></i></span><textarea name="description" id="description" class="form-control"  placeholder="Escribir una breve descripción..." required></textarea>
                  </div>
                  <div class="input-group form-group has-feedback">
                    <span class="input-group-addon"><i class="fa fa-bar-chart"></i></span>
                    <select name="type_market" id="type_market" class="form-control">

                    </select>
                  </div>
                  <input type="hidden" id="type" name="type">
                  <input type="hidden" id="status" name="status">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
            <button type="button" id="newMarket" name="newMarket" class="btn btn-primary ">Agregar</button>
            </form>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}
{% block js %}
  <script src="{{ urlFor('root')}}public/js/Chart.js" type="text/javascript"></script>
  <!--<script src="{{ urlFor('root')}}public/js/graphs.js" type="text/javascript"></script>-->
  <script src="{{ urlFor('root') }}public/css/dist/js/demo.js"></script>
  <script>
    $(function() {
      $('#grafica1').show();
      $('#grafica2').hide();
      $('#grafica3').hide();
      $('#grafica4').hide();
      $('#grafica5').hide();

      $('#gender').click(function(event) {
        $('#grafica1').show();
        $('#grafica2').hide();
        $('#grafica3').hide();
        $('#grafica4').hide();
        $('#grafica5').hide();
      });

      $('#school').click(function(event) {
        $('#grafica1').hide();
        $('#grafica2').show();
        $('#grafica3').hide();
        $('#grafica4').hide();
        $('#grafica5').hide();
      });

      $('#job').click(function(event) {
        $('#grafica1').hide();
        $('#grafica2').hide();
        $('#grafica3').show();
        $('#grafica4').hide();
        $('#grafica5').hide();
      });

      $('#status_civil').click(function(event) {
        $('#grafica1').hide();
        $('#grafica2').hide();
        $('#grafica3').hide();
        $('#grafica4').show();
        $('#grafica5').hide();
      });

      $('#age').click(function(event) {
        $('#grafica1').hide();
        $('#grafica2').hide();
        $('#grafica3').hide();
        $('#grafica4').hide();
        $('#grafica5').show();
      });


      $('#btn_gender').click(function(event) {
        $('#market').modal();
        $('#type').val('{{ type }}');
        $('#status').val('{{ status }}');
        if ({{ gender.h|e('js') }} > {{ gender.m|e('js') }}) {
          $('#type_market').append('<option value ="hombre" >Hombres</option>');
        } else if({{ gender.m|e('js') }} > {{ gender.h|e('js') }}){
          $('#type_market').append('<option value ="mujer" >Mujeres</option>');
        } else if(({{ gender.m|e('js') }} == {{ gender.h|e('js') }}) > 0){
          $('#type_market').append('<option value ="hombre" >Hombres</option>');
          $('#type_market').append('<option value ="mujer" >Mujeres</option>');
        }
      });

      $('#btn_school').click(function(event) {
        $('#market').modal();
        $('#type').val('{{ type }}');
        $('#status').val('{{ status }}');
        //.$.getJSON('{{ urlFor }}', {param1: 'value1'}, function(json, textStatus) {
            /*optional stuff to do after success */
        //});
      });

      $('#newMarket').click(function(event) {
        var name = $('#name').val();
        var description = $('#description').val();
        var type_market = $('#type_market option:selected').val();
        var type = $('#type').val();
        var status = $('#status').val();
        if (name == "" || description == "") {
          $.growl.error({ message: "Rellene todos los campos!" });
        } else {
          $.ajax({
            url: "u/nuevo",
            type: "POST",
            dataType: "html",
            data: $('#marketForm').serialize(),
            success: function(data) {
              if(data == 'vacio'){
                $.growl.error({ message: "Rellene todos los campos obligatorios!" });
              } else if(data == 'exito') {
                $.growl.notice({ message: "Has creado una nueva campaña!" });
                limpiar();
              } else if(data == 'error') {
                $.growl.error({ message: "Error del servidor!" });
              }
            }
          });
        }
      });

    });


    var pieData = [
    {
      value: {{ gender.h|e('js') }},
      color:"#3c8dbc",
      highlight: "#3CA1BD",
      label: "Hombres"
    },
    {
      value: {{ gender.m|e('js') }},
      color: "#f012be",
      highlight: "#F011DA",
      label: "Mujeres"
    }

  ];

  var barChartData = {
    labels: ["Ninguna", "Primaria", "Secundaria", "Preparatoria o Bachillerato", "Licenciatura", "Maestria o Doctorado"],
    datasets: [
        {
            label: "Segmentación por educación",
            fillColor: "#6b9dfa",
            strokeColor: "#6b9dfa",
            pointColor: "#1e45d7",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [{{ schools.ninguna|e('js') }},{{ schools.primaria|e('js') }},{{ schools.secundaria|e('js') }},{{ schools.preparatoria|e('js') }},{{ schools.licenciatura|e('js') }},{{ schools.maestria|e('js') }}]
        }
      ]

  }
    var lineChartData = {
      labels : ["Estudiantes","Labores del hogar","Profesionales por cuenta ajena","Profesionales por cuenta propia","Desempleados","Directivos","Cargos intermedios","Trabajadores de gobierno","Maestros","Trabajadores de salud","Fuerzas armadas","Otros"],
      datasets : [
        {
          label: "Segmentación por ocupación",
          fillColor : "rgba(220,220,220,0.2)",
          strokeColor : "#6b9dfa",
          pointColor : "#1e45d7",
          pointStrokeColor : "#fff",
          pointHighlightFill : "#fff",
          pointHighlightStroke : "rgba(220,220,220,1)",
          data : [{{ jobs.estudiante|e('js') }},{{ jobs.labores_hogar|e('js') }},{{ jobs.profesional_cuenta_ajena|e('js') }},{{ jobs.profesional_cuenta_propia|e('js') }},{{ jobs.desempleado|e('js') }},{{ jobs.directivo|e('js') }},{{ jobs.cargos_intermedios|e('js') }},{{ jobs.trabajadores_gobierno|e('js') }},{{ jobs.trabajadores_educacion|e('js') }},{{ jobs.trabajadores_salud|e('js') }},{{ jobs.fuerzas_armadas|e('js') }},{{ jobs.otros|e('js') }}]
        }
      ]
    }

 var donaData = [
    {
      value: {{ status_civil.soltero|e('js') }},
      color:"#0b82e7",
      highlight: "#0c62ab",
      label: "Soltero (a)"
    },
    {
      value: {{ status_civil.union_libre|e('js') }},
      color: "#e3e860",
      highlight: "#a9ad47",
      label: "Unión libre"
    },
    {
      value: {{ status_civil.casado|e('js') }},
      color: "#eb5d82",
      highlight: "#b74865",
      label: "Casado (a)"
    },
    {
      value: {{ status_civil.divorciado|e('js') }},
      color: "#5ae85a",
      highlight: "#42a642",
      label: "Divorciado (a)"
    },
    {
      value: {{ status_civil.viudo|e('js') }},
      color: "#e965db",
      highlight: "#a6429b",
      label: "Viudo (a)"
    }

  ];

  var polarData = [
        {
          value: {{ ages.ninez|e('js') }},
          color:"#F7464A",
          highlight: "#FF5A5E",
          label: "Niños"
        },
        {
          value: {{ ages.jovenes|e('js') }},
          color: "#46BFBD",
          highlight: "#5AD3D1",
          label: "Jovenés"
        },
        {
          value: {{ ages.jovenes_adultos|e('js') }},
          color: "#FDB45C",
          highlight: "#FFC870",
          label: "Jovenés Adultos"
        },
        {
          value: {{ ages.adultos|e('js') }},
          color: "#949FB1",
          highlight: "#A8B3C5",
          label: "Adultos"
        },
        {
          value: {{ ages.vejez|e('js') }},
          color: "#4D5360",
          highlight: "#616774",
          label: "3ra Edad"
        }

      ];

var ctx = document.getElementById("chart-area").getContext("2d");
var ctx2 = document.getElementById("chart-area2").getContext("2d");
var ctx3 = document.getElementById("chart-area3").getContext("2d");
var ctx4 = document.getElementById("chart-area4").getContext("2d");
var ctx5 = document.getElementById("chart-area5").getContext("2d");
window.myPie = new Chart(ctx).Pie(pieData);
window.myPie = new Chart(ctx2).Bar(barChartData, {responsive:true});
window.myPie = new Chart(ctx3).Line(lineChartData, {responsive:true});
window.myPie = new Chart(ctx4).Doughnut(donaData);
window.myPie = new Chart(ctx5).PolarArea(polarData);
  </script>
{% endblock %}
