{% extends 'base.twig' %}
{% block title %}
    <title>{{ title }} | Campañas</title>
{% endblock %}
{% block css %}
    <link href="{{ urlFor('root') }}public/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" >
     <link href="{{ urlFor('root') }}public/plugins/colorpicker/bootstrap-colorpicker.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="wrapper">
  {% include 'navbar.twig' %}
  {% include 'sidebar.twig' %}
  <div class="content-wrapper">
    <section class="content-header">
        {% if campaing.id is defined %}
          <h1><a href="{{ urlFor('campaings') }}"><i class="fa fa-arrow-left fa-1x"></i></a> Campaña <small>actualizar</small></h1>
          <ol class="breadcrumb">
            <li><a href="{{ urlFor('dashboard') }}"><i class="fa fa-dashboard"></i> Force <b>CRM</b></a></li>
            <li><a href="{{ urlFor('campaings') }}">Campañas</a></li>
            <li class="active">Actualizar</li>
          </ol>
        {% else %}
          <h1><a href="{{ urlFor('customers') }}"><i class="fa fa-arrow-left fa-1x"></i></a> Campaña <small>nueva</small></h1>
          <ol class="breadcrumb">
            <li><a href="{{ urlFor('dashboard') }}"><i class="fa fa-dashboard"></i> Force <b>CRM</b></a></li>
            <li><a href="{{ urlFor('campaings') }}">Campañas</a></li>
            <li class="active">Nueva</li>
          </ol>
        {% endif %}
        </section>
         <!-- Main content -->
    <section class="content">
      <!-- Info boxes -->
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Crear nueva campaña</h3>
            </div><!-- /.box-header -->
            <form id="campaingForm" name="campaingForm">
            {% if campaing.id is defined %}
              <input type="hidden" id="id" name="id" value="{{ campaing.id }}">
            {% else %}
              <input type="hidden" id="id" name="id" value="">
            {% endif %}
            <div class="box-body">
              <div class="row">
                <div class="col-md-offset-2 col-md-8 form-group">
                  {% if campaing.name is defined %}
                    <label class="control-label">Nombre :</label>
                  {% else %}
                    <label class="control-label" title="Campo obligatorio">Nombre * :</label>
                  {% endif %}
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-bullhorn"></i></span>
                    {% if campaing.name is defined %}
                      <input type="text" name="name" id="name" class="form-control" value="{{ campaing.name }}">
                    {% else %}
                      <input type="text" name="name" id="name" class="form-control" placeholder="Nombre" required autocomplete="off">
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-offset-2 col-md-8 form-group">
                  {% if campaing.date_start and campaing.date_end is defined %}
                    <label class="control-label">Fecha de inicio - Fecha de fin :</label>
                  {% else %}
                    <label class="control-label" title="Campo obligatorio">Fecha de inicio - Fecha de fin * :</label>
                  {% endif %}
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    {% if campaing.date_start and campaing.date_end is defined %}
                      <input type="text" class="form-control pull-right" name="reservation" id="reservation" placeholder="yyyy/mm/dd - yyyy/mm/dd" required title="Campo obligatorio" value="{{ campaing.date_start|date('Y/m/d') }} - {{ campaing.date_end|date('Y/m/d') }}">
                    {% else %}
                      <input type="text" class="form-control pull-right" name="reservation" id="reservation" placeholder="yyyy/mm/dd - yyyy/mm/dd" autocomplete="off" required>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2"></div>
                <div class="form-group col-md-8">
                  {% if campaing.product_id is defined %}
                    <label class="control-label">Producto :</label>
                   {% else %}
                    <label class="control-label" title="Campo obligatorio">Producto * :</label>
                   {% endif %}
                  <div class="input-group form-group">
                    <span class="input-group-addon"><i class="fa fa-barcode"></i></span>
                    <select name="product_id" id="product_id" class="form-control" required >
                    {% if campaing.product_id is defined %}
                      <option value="{{ campaing.product_id }}">
                        {{ product.name }}
                      </option>
                    {% else %}
                        <option value="0">Seleciona una opción...</option>
                    {% endif %}
                      {% for p in products %}
                      <option value="{{ p.id }}">{{ p.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <div class="box-header with-border">
                <h3 class="box-title">Datos de la campaña</h3>
              </div><!-- /.box-header -->
              <div class="row">
                <div class="col-md-offset-2 col-md-8 form-group">
                  {% if campaing.target is defined %}
                    <label class="control-label">Objetivo :</label>
                  {% else %}
                    <label class="control-label" title="Campo obligatorio">Objetivo * :</label>
                  {% endif %}
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-flag-checkered"></i></span>
                    {% if campaing.target is defined %}
                      <input type="text" name="target" id="target" class="form-control" autocomplete="off" value="{{ campaing.target }}">
                    {% else %}
                      <input type="text" name="target" id="target" class="form-control" placeholder="Objetivo" autocomplete="off" required>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-offset-2 col-md-8 form-group">
                  {% if campaing.description is defined %}
                    <label class="control-label">Descripción :</label>
                  {% else %}
                    <label class="control-label" title="Campo obligatorio">Descripción * :</label>
                  {% endif %}
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-align-justify"></i></span>
                    {% if campaing.description is defined %}
                      <textarea name="description" id="description" class="form-control" style="height: 140px">{{ campaing.description }}</textarea>
                    {% else %}
                      <textarea name="description" id="description" class="form-control" style="height: 140px" placeholder="Escribir detalladamente..." autocomplete="off" required></textarea>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-offset-2 col-md-8 form-group">
                  {% if campaing.color is defined %}
                    <label class="control-label">Color identificador :</label>
                  {% else %}
                    <label class="control-label" title="Campo obligatorio">Color identificador * :</label>
                  {% endif %}
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-tint"></i></span>
                    {% if campaing.color is defined %}
                      <input type="text" name="color" id="color" class="form-control my-colorpicker1" autocomplete="off" value="{{ campaing.color }}">
                    {% else %}
                      <input type="text" name="color" id="color" class="form-control" placeholder="Color identificador" autocomplete="off" required>
                    {% endif %}
                  </div>
                </div>
              </div>
            <div class="box-footer">
              <div class="pull-right">
                <a class="btn btn-default" id="btnCancelar" name="btnCancelar"><i class="fa fa-times"></i> Cancelar</a>
                {% if campaing.id is defined %}
                  <button type="button" id="editCampaing" name="editCampaing" class="btn btn-primary"><i class="fa fa-edit"></i> Actualizar</button>
                {% else %}
                  <button type="button" id="newCampaing" name="newCampaing" class="btn btn-primary"><i class="fa fa-plus"></i> Crear</button>
                {% endif %}
              </form>
              </div>
              <br>
            </div><!-- /.box-footer -->
          </div><!-- /. box -->
        </div><!-- /.col -->
      </div><!-- /.row -->
    </section><!-- /.content -->
  <br><br>
  </div><!-- /.content-wrapper -->
  <footer class="main-footer">
    <strong>Copyright &copy; {{ "now"|date("Y") }} </strong> Todos los derechos reservados.
  </footer>
</div>
{% endblock %}
{% block js %}
  <script src="{{ urlFor('root')}}public/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
  <script src="{{ urlFor('root')}}public/plugins/colorpicker/bootstrap-colorpicker.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(function () {
        //Date range picker
        $('#reservation').daterangepicker();
        //Date range picker with time picker
        $('#reservationtime').daterangepicker({timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A'});
        $("#color").colorpicker();
      });
       $(document).ready(function() {

      $('#newCampaing').click(function(event) {
        var id = $('#id').val();
        var product_id = $('#product_id option:selected').val();
        var name = $('#name').val();
        var reservation = $('#reservation').val();
        var target = $('#target').val();
        var description = $('#description').val();
        var color = $('#color').val();
        if (product_id == 0 || name == "" || reservation == "" || target == "" || description == "" || color == "") {
          $.growl.error({ message: "Rellene todos los campos obligatorios!" });
        } else {
          $.ajax({
            url: "nueva",
            type: "POST",
            dataType: "html",
            data: $('#campaingForm').serialize(),
            success: function(data) {
              if(data == 'vacio'){
                $.growl.error({ message: "Rellene todos los campos obligatorios!" });
              } else if(data == 'exito') {
                $.growl.notice({ message: "Has creado una nueva campaña!" });
                limpiar();
              } else if(data == 'error') {
                $.growl.error({ message: "Error del servidor!" });
              }
            }
          });
        }
      });

      $('#editCampaing').click(function(event) {
        var id = $('#id').val();
        var product_id = $('#product_id option:selected').val();
        var name = $('#name').val();
        var reservation = $('#reservation').val();
        var target = $('#target').val();
        var description = $('#description').val();
        var color = $('#color').val();
          $.ajax({
            url: "editar",
            type: "POST",
            dataType: "html",
            data: $('#campaingForm').serialize(),
            success: function(data) {
              if(data == 'exito') {
                $.growl.notice({ message: "La campaña ha sido actualizada!" });
              } else if(data == 'error') {
                $.growl.error({ message: "Error del servidor!" });
              }
            }
          })
      });

      $('#btnCancelar').click(function(event) {
        limpiar();
      });

      function limpiar(){
        var name = $('#name').val("");
        var reservation = $('#reservation').val("");
        var target = $('#target').val("");
        var description = $('#description').val("");
        var color = $('#color').val("");
        var product_id = $('#product_id').val($('#product_id > option:first').val());
      }
    });
    </script>
    <script src="{{ urlFor('root') }}public/css/dist/js/demo.js"></script>
{% endblock %}
