{% extends 'base.twig' %}
{% block title %}
    <title>{{ title }} | Mercados</title>
{% endblock %}
{% block css %}
    <link href="{{ urlFor('root') }}public/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
<div class="wrapper">
  {% include 'navbar.twig' %}
  {% include 'sidebar.twig' %}
  <div class="content-wrapper">
    <section class="content-header">
          <h1><a href="{{ urlFor('dashboard') }}"><i class="fa fa-arrow-left fa-1x"></i></a> Mercado <small>nuevo</small></h1>
          <ol class="breadcrumb">
            <li><a href="{{ urlFor('dashboard') }}"><i class="fa fa-dashboard"></i> Force <b>CRM</b></a></li>
            <li class="active"><a href="#">Mercados</a></li>
          </ol>
        </section>
         <!-- Main content -->
    <section class="content">
      <!-- Info boxes -->
      <div class="row">
        <div class="col-md-12">

    <div class="box">
            <div class="box-header">
              <h3 class="box-title">Identificar nuevo mercado</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
              <br><br>
              <div class="row">
                <div class="col-md-offset-1 col-md-4">
                  <div class="small-box bg-aqua">
                    <div class="inner">
                      <h3>
                      {% if customerA == 0 %}
                        0
                      {% else %}
                        {{ customerA }}
                      {% endif %}
                      </h3>
                      <p>Clientes A</p>
                    </div>
                    <div class="icon">
                      <i class="fa fa-star"></i>
                    </div>
                    {% if customerA != 0 %}
                      <a href="{{ urlFor('market') }}A" class="small-box-footer">Seleccionar <i class="fa fa-arrow-circle-right"></i></a>
                    {% endif %}
                  </div>
                </div>
                <div class="col-md-offset-2 col-md-4">
                  <div class="small-box bg-green">
                    <div class="inner">
                      <h3>
                      {% if customerB == 0 %}
                        0
                      {% else %}
                        {{ customerB }}
                      {% endif %}
                      </h3>
                      <p>Clientes B</p>
                    </div>
                    <div class="icon">
                      <i class="fa fa-star-half-o"></i>
                    </div>
                    {% if customerC != 0 %}
                      <a href="{{ urlFor('market') }}B" class="small-box-footer">Seleccionar <i class="fa fa-arrow-circle-right"></i></a>
                    {% endif %}
                  </div>
                </div>
              </div>
              <br><br>
              <div class="row">
                <div class="col-md-offset-1 col-md-4">
                  <div class="small-box bg-red">
                    <div class="inner">
                      <h3>
                      {% if customerC == 0 %}
                        0
                      {% else %}
                        {{ customerC }}
                      {% endif %}
                      </h3>
                      <p>Clientes C</p>
                    </div>
                    <div class="icon">
                      <i class="fa fa-star-o"></i>
                    </div>
                    {% if customerC != 0 %}
                      <a href="{{ urlFor('market') }}C" class="small-box-footer">Seleccionar <i class="fa fa-arrow-circle-right"></i></a>
                    {% endif %}
                  </div>
                </div>
                <div class="col-md-offset-2 col-md-4">
                  <div class="small-box bg-orange">
                    <div class="inner">
                      <h3>
                      {% if customerP == 0 %}
                        0
                      {% else %}
                        {{ customerP }}
                      {% endif %}
                      </h3>
                      <p>Clientes potenciales</p>
                    </div>
                    <div class="icon">
                      <i class="fa fa-diamond"></i>
                    </div>
                    {% if customerP != 0 %}
                      <a href="{{ urlFor('market') }}P" class="small-box-footer">Seleccionar <i class="fa fa-arrow-circle-right"></i></a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div><!-- /.col -->
      </div><!-- /.row -->
    </section><!-- /.content -->
  </div><!-- /.content-wrapper -->
  <footer class="main-footer">
    <strong>Copyright &copy; {{ "now"|date("Y") }} </strong> Todos los derechos reservados.
  </footer>
</div>
{% endblock %}
{% block js %}
  <script src="{{ urlFor('root')}}public/plugins/datatables/jquery.dataTables.js" type="text/javascript"></script>
  <script src="{{ urlFor('root')}}public/plugins/datatables/dataTables.bootstrap.js" type="text/javascript"></script>
  <script type="text/javascript">
      $(function () {
        $("#example1").dataTable();
        $('#example2').dataTable({
          "bPaginate": true,
          "bLengthChange": false,
          "bFilter": false,
          "bSort": true,
          "bInfo": true,
          "bAutoWidth": false
        });
      });
    </script>
    <script src="{{ urlFor('root') }}public/css/dist/js/demo.js"></script>
{% endblock %}
