{% extends 'base.twig' %}
{% block title %}
    <title>{{ title }} | Mercados</title>
{% endblock %}
{% block css %}
    <link href="{{ urlFor('root') }}public/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
<div class="wrapper">
  {% include 'navbar.twig' %}
  {% include 'sidebar.twig' %}
  <div class="content-wrapper">
    <section class="content-header">
          <h1> <a href="{{ urlFor('dashboard') }}"><i class="fa fa-arrow-left fa-1x"></i></a>
            Segmentar
          </h1>
          <ol class="breadcrumb">
            <li><a href="{{ urlFor('dashboard') }}"><i class="fa fa-dashboard"></i> Force <b>CRM</b></a></li>
            <li><a href="{{ urlFor('markets') }}">Mercados</a></li>
            <li class="active">Segmentar</li>
          </ol>
        </section>
         <!-- Main content -->
    <section class="content">
      <!-- Info boxes -->
      <div class="row">
        <div class="col-md-12">

    <div class="box">
            <div class="box-header">
              <h3 class="box-title">Segmentar</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Ventas</th>
                    <th>% Ventas</th>
                    <th>Ventas acumuladas</th>
                    <th>Total de ventas</th>
                    <th>% Ventas acumuladas</th>
                    <th>Tipo</th>
                  </tr>
                </thead>
                <tbody>
                  {% for seg in abc %}
                    <tr>
                      <td>{{ seg.id }}</td>
                      <td>{{ seg.name }}</td>
                      <td>$ {{ seg.sales }}</td>
                      <td>% {{ seg.sales_porcentaje }}</td>
                      <td>$ {{ seg.sales_acumuladas }}</td>
                      <td>$ {{ seg.total_sales }}</td>
                      <td>% {{ seg.porcentaje_sales_acumuladas }}</td>
                      <td>{{ seg.type }}</td>
                      <td>( {% if seg.type == 'A' %} <i class="fa fa-star"></i> {% elseif seg.type == 'B' %} <i class="fa fa-star-half-o"></i> {% elseif seg.type == 'C' %} <i class="fa fa fa-star-o"></i> {% endif %} )</td>
                    </tr>
                  {% endfor %}
                </tbody>
                <tfoot>
                  <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Ventas</th>
                    <th>% Ventas</th>
                    <th>Ventas acumuladas</th>
                    <th>Total de ventas</th>
                    <th>% Ventas acumuladas</th>
                    <th>Tipo</th>
                  </tr>
                </tfoot>
              </table>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div><!-- /.col -->
      </div><!-- /.row -->
    </section><!-- /.content -->
  </div><!-- /.content-wrapper -->
  <footer class="main-footer">
    <strong>Copyright &copy; {{ "now"|date("Y") }} </strong> Todos los derechos reservados.
  </footer>
</div>
{% endblock %}
{% block js %}
  <script src="{{ urlFor('root')}}public/plugins/datatables/jquery.dataTables.js" type="text/javascript"></script>
  <script src="{{ urlFor('root')}}public/plugins/datatables/dataTables.bootstrap.js" type="text/javascript"></script>
  <script type="text/javascript">
      $(function () {
        $("#example1").dataTable();
        $('#example2').dataTable({
          "bPaginate": true,
          "bLengthChange": false,
          "bFilter": false,
          "bSort": true,
          "bInfo": true,
          "bAutoWidth": false
        });
      });
    </script>
    <script src="{{ urlFor('root') }}public/css/dist/js/demo.js"></script>
{% endblock %}
