<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        {% if role.name == "Administrador" %}
          <img src="{{ urlFor('root') }}public/img/admin.png" class="img-circle" alt="Administrador" />
        {% elseif role.name == "Jefe de Marketing" and user.gender == "H" %}
          <img src="{{ urlFor('root') }}public/img/jefe.png" class="img-circle" alt="Jefe de Marketing" />
        {% elseif role.name == "Jefe de Marketing" and user.gender == "M" %}
          <img src="{{ urlFor('root') }}public/img/jefa.png" class="img-circle" alt="Jefa de Marketing" />
        {% elseif role.name == "Promotor" and user.gender == "H" %}
          <img src="{{ urlFor('root') }}public/img/promotor.png" class="img-circle" alt="Promotor" />
        {% elseif role.name == "Promotor" and user.gender == "M" %}
          <img src="{{ urlFor('root') }}public/img/promotora.png" class="img-circle" alt="Promotora" />
        {% elseif role.name == "Agente de Ventas" and user.gender == "H" %}
          <img src="{{ urlFor('root') }}public/img/vendedor.png" class="img-circle" alt="Agente de Ventas" />
        {% elseif role.name == "Agente de Ventas" and user.gender == "M" %}
          <img src="{{ urlFor('root') }}public/img/vendedora.png" class="img-circle" alt="Agente de Ventas" />
        {% endif %}
      </div>
      <div class="pull-left info">
        <p>{{ role.name }}</p>

        <a href="#"><i class="fa fa-circle text-success"></i> En línea</a>
      </div>
    </div>
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Buscar..."/>
        <span class="input-group-btn">
          <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">SITIO WEB</li>
      <li>
        <a href="{{ urlFor('site') }}">
          <i class="fa fa-shopping-cart"></i> <span>Sitio Web</span>
        </a>
      </li>
      <li class="header">PANEL DE NAVEGACIÓN</li>
      <li >
        <a href="{{ urlFor('dashboard') }}">
          <i class="fa fa-dashboard"></i> <span>Panel de administración</span></i>
        </a>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-globe"></i>
          <span>Clientes</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          {% if role.name == "Administrador" or role.name == "Jefe de Marketing" %}
          <li><a href="#"><i class="fa fa-circle-o"></i> Nuevo cliente</a></li>
          {% endif %}
          <li class="treeview">
            <a href="#">
              <i class="fa fa-circle-o"></i> Lista de clientes
              <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
              <li><a href="{{ urlFor('customers') }}"><i class="fa fa-asterisk"></i> Clientes</a></li>
              <li><a href="{{ urlFor('customer-potencial') }}"><i class="fa fa-asterisk"></i> Potenciales</a></li>
              <li><a href="{{ urlFor('customer-actual') }}"><i class="fa fa-asterisk"></i> Actuales</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-group"></i> <span>Mercados</span>
          <i class="fa fa-angle-left pull-right"></i>
          <ul class="treeview-menu">
            {% if role.name == "Administrador" or role.name == "Jefe de Marketing" %}
            <li><a href="{{ urlFor('new-market') }}"><i class="fa fa-circle-o"></i> Identificar un mercado</a></li>
            {% endif %}
            <li class="treeview">
              <a href="#">
                <i class="fa fa-circle-o"></i> Lista de mercados
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-asterisk"></i> Objetivo</a></li>
                <li><a href="#"><i class="fa fa-asterisk"></i> Activo</a></li>
                <li><a href="#"><i class="fa fa-asterisk"></i> Inactivo</a></li>
              </ul>
            </li>
          </ul>
        </a>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-bullhorn"></i>
          <span>Campañas</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          {% if role.name == "Administrador" or role.name == "Jefe de Marketing" %}
            <li><a href="{{ urlFor('new-campaing') }}"><i class="fa fa-circle-o"></i> Crear nueva campaña</a></li>
          {% endif %}
          <li class="treeview">
            <a href="#">
              <i class="fa fa-circle-o"></i> Lista de camapañas
              <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
              <li><a href="#"><i class="fa fa-asterisk"></i> Activas</a></li>
              <li><a href="#"><i class="fa fa-asterisk"></i> En proceso</a></li>
              <li><a href="#"><i class="fa fa-asterisk"></i> Terminadas</a></li>
            </ul>
          </li>
        </ul>
      </li>
     <li class="treeview">
        <a href="#">
          <i class="fa fa-inbox"></i>
          <span>Emails</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          {% if role.name == "Jefe de Marketing" %}
          <li><a href="{{ urlFor('new-email') }}"><i class="fa fa-circle-o"></i> Redactar</a></li>
          {% endif %}
          <li><a href="{{ urlFor('email') }}"><i class="fa fa-circle-o"></i> Enviados</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-barcode"></i> <span>Productos</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          {% if role.name == "Jefe de Marketing" %}
          <li><a href="#"><i class="fa fa-circle-o"></i> Nuevo producto</a></li>
          {% endif %}
        </ul>
      </li>
      <!--<li>
        <a href="pages/calendar.html">
          <i class="fa fa-calendar"></i> <span>Calendar</span>
          <small class="label pull-right bg-red">3</small>
        </a>
      </li>
      <li>
        <a href="pages/mailbox/mailbox.html">
          <i class="fa fa-envelope"></i> <span>Mailbox</span>
          <small class="label pull-right bg-yellow">12</small>
        </a>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-folder"></i> <span>Examples</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a href="pages/examples/invoice.html"><i class="fa fa-circle-o"></i> Invoice</a></li>
          <li><a href="pages/examples/login.html"><i class="fa fa-circle-o"></i> Login</a></li>
          <li><a href="pages/examples/register.html"><i class="fa fa-circle-o"></i> Register</a></li>
          <li><a href="pages/examples/lockscreen.html"><i class="fa fa-circle-o"></i> Lockscreen</a></li>
          <li><a href="pages/examples/404.html"><i class="fa fa-circle-o"></i> 404 Error</a></li>
          <li><a href="pages/examples/500.html"><i class="fa fa-circle-o"></i> 500 Error</a></li>
          <li><a href="pages/examples/blank.html"><i class="fa fa-circle-o"></i> Blank Page</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-share"></i> <span>Multilevel</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
          <li>
            <a href="#"><i class="fa fa-circle-o"></i> Level One <i class="fa fa-angle-left pull-right"></i></a>
            <ul class="treeview-menu">
              <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
              <li>
                <a href="#"><i class="fa fa-circle-o"></i> Level Two <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                  <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
        </ul>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
