<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        {% if role.name == "Administrador" %}
          <img src="{{ urlFor('root') }}public/img/admin.png" class="img-circle" alt="Administrador" />
        {% elseif role.name == "Jefe de Marketing" and user.gender == "H" %}
          <img src="{{ urlFor('root') }}public/img/jefe.png" class="img-circle" alt="Jefe de Marketing" />
        {% elseif role.name == "Jefe de Marketing" and user.gender == "M" %}
          <img src="{{ urlFor('root') }}public/img/jefa.png" class="img-circle" alt="Jefa de Marketing" />
        {% elseif role.name == "Promotor" and user.gender == "H" %}
          <img src="{{ urlFor('root') }}public/img/promotor.png" class="img-circle" alt="Promotor" />
        {% elseif role.name == "Promotor" and user.gender == "M" %}
          <img src="{{ urlFor('root') }}public/img/promotora.png" class="img-circle" alt="Promotora" />
        {% elseif role.name == "Agente de Ventas" and user.gender == "H" %}
          <img src="{{ urlFor('root') }}public/img/vendedor.png" class="img-circle" alt="Agente de Ventas" />
        {% elseif role.name == "Agente de Ventas" and user.gender == "M" %}
          <img src="{{ urlFor('root') }}public/img/vendedora.png" class="img-circle" alt="Agente de Ventas" />
        {% endif %}
      </div>
      <div class="pull-left info">
        <p>{{ role.name }}</p>

        <a href="#"><i class="fa fa-circle text-success"></i> En línea</a>
      </div>
    </div>
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Buscar..."/>
        <span class="input-group-btn">
          <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">SITIO WEB</li>
      <li>
        <a href="{{ urlFor('site') }}">
          <i class="fa fa-shopping-cart"></i> <span>Sitio Web</span>
        </a>
      </li>
      <li class="header">PANEL DE NAVEGACIÓN</li>
      <li >
        <a href="{{ urlFor('dashboard') }}">
          <i class="fa fa-dashboard"></i> <span>Panel de administración</span></i>
        </a>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-globe"></i>
          <span>Clientes</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a href="{{ urlFor('new-customer') }}"><i class="fa fa-user-plus"></i> Nuevo cliente</a></li>
          <li><a href="{{ urlFor('customers') }}"><i class="fa fa-user"></i> Contactos</a></li>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-list"></i> Lista de clientes
              <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
              <li><a href="{{ urlFor('customer-potencial') }}"><i class="fa fa-diamond"></i> Potenciales</a></li>
              <li><a href="{{ urlFor('customer-actual') }}"><i class="fa fa-star"></i> Actuales</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-group"></i> <span>Mercados</span>
          <i class="fa fa-angle-left pull-right"></i>
          <ul class="treeview-menu">
            {% if role.name == "Administrador" or role.name == "Jefe de Marketing" %}
            <li><a href="{{ urlFor('new-market') }}"><i class="fa fa-filter"></i> Identificar un mercado</a></li>
            {% endif %}
            <li class="treeview">
              <a href="#">
                <i class="fa fa-list"></i> Lista de mercados
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-asterisk"></i> Objetivo</a></li>
                <li><a href="#"><i class="fa fa-asterisk"></i> Activo</a></li>
                <li><a href="#"><i class="fa fa-asterisk"></i> Inactivo</a></li>
              </ul>
            </li>
          </ul>
        </a>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-bullhorn"></i>
          <span>Campañas</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          {% if role.name == "Administrador" or role.name == "Jefe de Marketing" %}
            <li><a href="{{ urlFor('new-campaing') }}"><i class="fa fa-plus"></i> Crear nueva campaña</a></li>
          {% endif %}
          <li><a href="{{ urlFor('campaings-activas') }}"><i class="fa fa-bell"></i> Campañas</a></li>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-list"></i> Lista de campañas
              <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
              <li><a href="{{ urlFor('campaings-esperas') }}"><i class="fa fa-spinner"></i> En espera</a></li>
              <li><a href="{{ urlFor('campaings-finalizadas') }}"><i class="fa fa-eject"></i> Finalizadas</a></li>
            </ul>
          </li>
        </ul>
      </li>
     <li class="treeview">
        <a href="#">
          <i class="fa fa-inbox"></i>
          <span>Emails</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          {% if role.name == "Jefe de Marketing" %}
          <li><a href="{{ urlFor('new-email') }}"><i class="fa fa-pencil"></i> Redactar</a></li>
          {% endif %}
          <li><a href="{{ urlFor('email') }}"><i class="fa fa-check"></i> Enviados</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-barcode"></i> <span>Productos</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          {% if role.name == "Jefe de Marketing" %}
          <li><a href="#"><i class="fa fa-plus"></i> Nuevo producto</a></li>
          {% endif %}
          <li><a href="#"><i class="fa fa-list"></i> Lista de productos</a></li>
        </ul>
      </li>
      {% if role.name == "Administrador" %}
      <li class="treeview">
        <a href="#">
          <i class="fa fa-briefcase"></i> <span>Panel de usuarios</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a href="{{ urlFor('personal') }}"><i class="fa fa-list"></i> Lista de usuarios</a></li>
        </ul>
      </li>
      {% endif %}
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
